{% extends 'base.html' %}
{% load static %}
{% block content %}

<div class="container-fluid p-5 main-section">
  
  <div class="side-tabs">
    <button class="side-tablinks btn mb-3">
      Browse Capture
    </button> <br>
    <button class="side-tablinks btn mb-3">
      Data Overview
    </button> <br>
    <button class="side-tablinks btn mb-3">
      Protocols Statistic
    </button> <br> 

    <button class="side-tablinks btn mb-3">
      DHCP
    </button> <br> 

    <button class="side-tablinks btn mb-3">
      Src & Dst IP
    </button> <br> 

    <button class="side-tablinks btn mb-3">
      Dst Domain
    </button> <br> 

    <button class="side-tablinks btn mb-3">
      HTTP POST
    </button> <br> 

    <button class="side-tablinks btn mb-3">
      Utils
    </button> <br> 

    <button class="side-tablinks btn mb-3">
      Settings
    </button> <br> 

    <button class="side-tablinks btn mb-3">
      History
    </button> <br> 

    <a class="btn btn-outline-danger" href="{% url 'logout' %}">Logout</a>
  </div>

  <div class="side-contents">
    <div class="side-tabcontent" id="">
      <form class="" action="{% url 'index' %}" method="POST" enctype="multipart/form-data">
        {% csrf_token %}
        <label for="formFile" class="form-label">Browse Capture File</label>
        <div class="mb-3 input-group">
          <input style="max-width: 600px;" class="form-control" name="file_upload" type="file" id="formFile" required>
          <button type="submit" class="btn btn-primary">Analysis</button>
        </div>
      </form>
      
    </div>
  
    <div class="side-tabcontent" id="">
      Data Overview    
    </div>
  
    <div class="side-tabcontent" id="">
      Protocols Statistic
    </div>

    <div class="side-tabcontent" id="">
      DHCP
    </div>

    <div class="side-tabcontent" id="">
      Src & Dst IP 
    </div> 

    <div class="side-tabcontent" id="">
      Dst Domain
    </div>

    <div class="side-tabcontent" id="">
      HTTP POST
    </div>

    <div class="side-tabcontent" id="">
      <!--Convert: c-->
      <div class="c-tabs">
        <button class="c-tablinks" onclick="openCTab(event, 'c-decode-hex')" id="defaultOpen">Decode Hex</button>
        <button class="c-tablinks" onclick="openCTab(event, 'c-decode-base64')">Decode Base64</button>
        <button class="c-tablinks" onclick="openCTab(event, 'c-time')">Convert Time</button>
      </div>

      <div id="c-decode-hex" class="c-tabcontent">
        Decode Hex
      </div>

      <div id="c-decode-base64" class="c-tabcontent">
        Decode Base64
      </div>

      <div id="c-time" class="c-tabcontent">
        Convert Time 
      </div>

    </div>

    <div class="side-tabcontent" id="">
      Settings 
    </div>

    <div class="side-tabcontent" id="">
      History
    </div>

  </div>

  
<div>



{% endblock content %}
