{% extends 'base.html' %}
{% load static %}
{% block content %}

<div class="container">
  {% if messages %}

  {% for message in messages %}
  <div class="notify mt-3 mb-3" id="notify">
    <div class="notify-message">
      {{message}}
    </div>
    <button type="button" class="close-notify-btn" data-id="notify">
      <i class="fa-solid fa-x"></i>
    </button>
  </div>
  {% endfor %}

  {% endif %}
</div>

<div class="container d-flex align-items-start justify-content-between pt-5" style="min-height: 100vh;">

    <form class="" method="POST" action="{% url 'register' %}" style="width: 48%;">
      {% csrf_token %}

      <h2>Đăng ký tài khoản</h2>
        <div class="mb-3">
          <label for="exampleInputUser1" class="form-label">Tên tài khoản</label>
          <input type="text" name="username" style="max-width: 400px;border: 1px solid #4379F2;font-size: 16px;padding: 4px 12px" class="form-control" id="exampleInputUser1" aria-describedby="userHelp" required>
          <div id="userHelp" style="font-size: 14px;" class="form-text">Tên tài khoản viết liền không dấu, không chứa ký tự đặc biệt</div>
        </div>  
        <div class="mb-3">
          <label for="exampleInputEmail1" class="form-label">Địa chỉ email</label>
          <input type="email" name="email" style="max-width: 400px;border: 1px solid #4379F2;font-size: 16px;padding: 4px 12px" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp" required>
        </div>
        <div class="mb-3">
          <label for="exampleInputPassword1" class="form-label">Mật khẩu</label>
          <input type="password" name="password" style="max-width: 400px;border: 1px solid #4379F2;font-size: 16px;padding: 4px 12px" class="form-control" id="exampleInputPassword1" aria-describedby="passHelp" required>
          <div id="passHelp" style="font-size: 14px;" class="form-text">Mật khẩu có độ dài ít nhất 8 ký tự</div>
        </div>
        <button type="submit" style="font-size: 16px;" class="btn btn-primary mb-3">Đăng ký</button> 
        <p>Đã có tài khoản? <a href="{% url 'login' %}">Đăng nhập</a></p>
    </form>

    <div class="w-50 text-center">
        <img src="{% static 'assets/images/register.png' %}" alt="Register Image" style="width: 200px;height: 200px;object-fit: cover;object-position: center;" />
    </div>

</div>

{% endblock content %}
