@import url('https://fonts.googleapis.com/css2?family=Nunito:ital,wght@0,200..1000;1,200..1000&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Nunito", sans-serif;
    /* font-size: 62.5%; */
    color: #1c1c1c;
    scroll-behavior: smooth;
}

.form-label {
    font-size: 16px;
}

p {
    font-size: 16px;
}

h2 {
    font-size: 28px;
    font-weight: 700;
    text-align: left;
}

a {
    font-size: 16px;
}

.notify {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 12px;
    border-radius: 4px;
    background-color: #0d6efd;
    color: white;
    font-size: 16px;
    width: calc(max-content + 100px);
}

.notify .notify-message {
    font-size: 16px;
    color: white;
    flex: 1;
}

.notify .close-notify-btn {
    border: none;
    outline: none;
    background-color: transparent;
    font-size: 16px;
    color: #fff;
    opacity: 0.8;
    padding: 4px;
    cursor: pointer;
}

.notify .close-notify-btn i {
    color: #fff;
    opacity: 0.8;
}

.notify.none {
    display: none;
}
